/* #userInput {
   
    background-position: 10px 12px;
    background-repeat: no-repeat; 
    width: 100%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  
  #listOfproducts {
   
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #listOfproducts li a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
  }
  
  #listOfproducts li a:hover:not(.header) {
    background-color: #eee; 
  } */

  /* for Search bar */
#userInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;

}
#listOfproducts{
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  top: 95px;
  right: 10px;
  padding: 1em;
  background: linear-gradient(-120deg,white 50%, RGBA(162, 219, 183, 0.8) 50%);
  z-index: 2;
  transform: scale(0);
  transform: translatey(-10px);
  opacity: 0;
  min-width: 150px;
  pointer-events: none;
}
#listOfproducts.active {
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  top: 95px;
  right: 10px;
  padding: 1em;
  background: linear-gradient(-120deg,white 50%, RGBA(162, 219, 183, 0.8) 50%);
  z-index: 2;
  transform: scale(0);
  transform: translatey(-10px);
  opacity: 1;
  min-width: 150px;
  pointer-events: auto;
}

#listOfproducts li{
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

#listOfproducts.active li{
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  text-decoration: none;
  display: block;
}

#listOfproducts li:hover{
  background: #A2DBB7;
}