.body {
  font-family:'Poppins', sans-serif;
}
/*Nav Bar*/
.navbar-nav .nav-item .nav-link.active{
  background-color:#A2DBB7;
  color:#073418;
  border: 3px solid #A2DBB7;
}
/*Accordion*/
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  border-left: 8px solid;
  border-color:#A2DBB7;
}
/*Accordion*/
/*Contact Form*/
.form-area {
  padding-top: 2%;
}
.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
  background: #A2DBB7;
  padding: 200px 98px;
}
.left h2 {
  font-family: poppins;
  color: #073418;
  font-weight: 700;
  font-size: 48px;
}
.left h2 span {
  font-weight: 100;
}
.single-form{
  background: #fff;
}
.right {
  padding: 70px 100px;
  position: relative;
}
.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}
.form-control {
  border: 2px solid #000;
}
.right button {
  border: none;
  border-radius: 0;
  background: #073418;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.right button:hover{
  background-color: #252525;
}
/*responsive*/
@media (min-width:768px) and (max-width:991px){
  .right i {
      top: -52px;
      transform: rotate(90deg);
      left: 50%;
 }
}
@media (max-width:767px){
  .left {
      padding: 90px 15px;
      text-align: center;
 }
  .left h2 {
      font-size: 25px;
 }
  .right {
      padding: 25px;
 }
  .right i {
      top: -52px;
      transform: rotate(90deg);
      left: 46%;
 }
  .right button {
      width: 150px;
      padding: 12px 0;
 }
}
/*Contact Form*/

/* start of Farmer's hub CSS */

.text-box {
    color:#fff;
    position: absolute;
    bottom: 8%;
    margin-left: 5%;
}

/* .text-box h2{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color:transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(imglandingPage/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
} */

.text-box h2 {
  background-image: linear-gradient(
    -225deg,
    #073418 0%,
    #22C55E 29%,
    #A2DBB7 67%,
    #F8FEFA 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 200px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.text-box h3 {
    font-size: 40px;
    font-weight: 500;
}

.text-box .row {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 50px;
}

.text-box a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    align-items: center;
}

@media all and (max-width:992px){
  .text-box > h2 {
      font-size: 75px;
  }
  .text-box > h3 {
      font-size: 15px;
  }
}
@media all and (max-width:768px){
  .text-box > h2 {
      font-size: 75px;
  }
  .text-box > h3 {
      font-size: 15px;
  }
}
/* end of Farmer's hub CSS */

/*radio buttons*/
input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #073418;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #A2DBB7;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
/* pagination change colors */
.pagination > li > a
{
    background-color: white;
    color: #073418;
}

.pagination  li  a:focus,
.pagination  li  a:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination .page-item .page-link.active
{
    color: white;
    background-color: #A2DBB7;
    border: solid 1px #A2DBB7;
}

